<div class="grid-container">
  <!-- <app-toolbar class="grid-header" *ngIf="(sesionActiva$ | async)"></app-toolbar> -->
  <app-toolbar class="grid-header"></app-toolbar>

  <app-navbar class="grid-navbar" *ngIf="user?.username"></app-navbar>
  <!--   <div class="grid-students">
    <router-outlet></router-outlet>
  </div> -->
  <!-- <button mat-stroked-button color="primary" (click)="googleOauth()">
    Authenticate with Google
  </button> -->
  <div class="grid-students">
    <app-login2></app-login2>
  </div>
</div>
